@import "tailwindcss";
*{
  
}
body{
  
  height: 100vh;
  background-image: linear-gradient(#D8C7FF,#19006C);
  background-repeat: no-repeat;
}
.incorrect{
  background-color: rgba(227, 191, 208, 0.356);
  border-color: red;
}
.correct{
  background-color: #dffff2;
  border-color: #00d397b1;
}